.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px 0px 30px;
}
.profile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.profile__form {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
  margin: 74px 0px 0px 0px;
}
.profile__legend {
  text-align: center;
  margin: 0px 0px 123px 0px;
}
.profile__fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 123px 0px;
  padding: 0;
}
.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.profile__inputs {
  display: grid; 
  grid-template-columns: 0.3fr 1.7fr; 
  grid-template-rows: 1.5fr 0.1fr 1.5fr; 
  grid-gap: 17px 0px;
  grid-template-areas: 
    ". ."
    "line line"
    ". ."; 
    position: relative;
}
.profile__error {
  color: #ff3300;
  font-size: 10px;
}
.profile__error_off {
  display: none;
}
.profile__error_name {
  position: absolute;
  top: 15px;
  right: 30px;
}
.profile__error_email {
  position: absolute;
  top: 70px;
  left: 10px;
}
.profile__input-title {
  font-size: 11px;
  line-height: 13px;
}
.profile__input {
  border: none;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  outline: none;
  padding: 0;
}
.profile__line {
  grid-area: line;
  background: #E8E8E8;
  border: none;
  height: 1px;
  margin: 0;
}
.profile__btn {
  font-size: 13px;
  line-height: 16px;
  border: none;
  background: #fff;
  cursor: pointer;
  margin: 220px 0px 0px 0px;
}
.profile__btn_submit {
  background: #f5f5f5;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  height: 45px;
  width: 100%;
  margin: 220px 0px 0px 0px;
}
.profile__btn_submit-active {
  background: #FF6838;
  cursor: pointer;
}

.profile__btn_submit:hover {
  opacity: .8;
}
.profile__btn:hover {
  opacity: .8;
}
.profile__signout_show {
  font-size: 13px;
  line-height: 16px;
  border: none;
  background: #fff;
  cursor: pointer;
  color: #EE3465;
  margin: 16px 0px 0px 0px;
}
.profile__signout_hide {
  display: none;
}
.profile__signout:hover {
  opacity: .8;
}
.profile__notification-text {
  margin: 220px 0px 0px 0px;
  font-size: 11px;
  line-height: 13px;
  color: #FF004C;
  text-align: center;
  display: none;
}

@media screen and (max-width: 768px) {
  .profile__fieldset {
    grid-gap: 96px 0px
  }
  .profile__btn {
    margin: 210px 0px 0px 0px;
  }
}